[flake8]
max-line-length = 88
extend-ignore =
    # Whitespace before ':' (black compatibility)
    E203,
    # Line too long (black doesn't handle long strings)
    E501,
    # Module level import not at top of file
    E402
exclude=scratch*.py,docs,examples,tests,scripts,xlwings/rest,xlwings/mistune