.metadata
*.py[cod]
*~*

# Config files
*.cfg

# SQLite Database
*.db 

logfiles
.settings

# PyCharm
.idea

# NetBeans
/nbproject

# Mac
*.DS_Store

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# logs
pip-log.txt
log*


# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo