# To install this pre-commit hook, run:
#
# pip install pre-commit
# pre-commit install
#
# To run changed files manually: pre-commit
# To run all files manually: pre-commit run --all-files
#
# See also: https://pre-commit.com
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^xlwingsjs/dist/

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.270
    hooks:
      - id: ruff
